* {
    font-family: Arial, Helvetica, sans-serif;
    padding:0px;
    box-sizing: border-box;
    margin:0px;
}

section.nav{
    background-color: cadetblue;
}
section.nav > ul{
    list-style-type: none;
    padding: 0px;
    margin: 0px;
    display: flex;
}

section.nav > ul >li{
    border-right: 1px solid white;
    min-width: 120px;
    text-align:center;
}
section.nav > ul >li > a{
    text-decoration: none;
    display: block;
    padding: 15px 20px;
}
section.nav > ul >li > a:hover{
    background-color: blue;
    color: white;
}

ul.left > li:last-child{
    border-right: none;
}

.left{
    float:left;
}

.right{
    float:right;
}

.clearfix{
    overflow: hidden;
}
section.banner > div > img{
    height: 100%;  
    width:600px;
    object-fit: cover;      
}

section.banner{
    background: linear-gradient(blue, lightblue);
    display:flex;
    margin-top: 5px;
    height:100px;
}

section.banner > h1 {
    color:white;
    font-size: 37px;
    position: relative;
    left: 8%;
    text-shadow: 2px 3px 1px gray;
    animation: doimau 0.5s infinite;
    padding-top: 1.7%;
}   

@keyframes doimau {
    from{
        color: white;
    }
    to {
        color: gold;
    }
}

section.content{
    width: 80%;
    margin:1px auto;
}

div.subject{
    margin-top: 6px;
}

div.subject > h1{
     color: white;
     background-color: blue;
     margin: 0px;
     padding: 3px;
     border-radius: 10px 10px 0 0 ;
}
div.post{
    background-color: lightblue;
    display: flex;
    border-bottom: 1px solid white;
}
.col1{
    width: 10%;
}

.col2{
    width: 40%;
}

.col3{
    width: 20%;
}

.col4{
    width: 30%;
    direction: rtl;/* right to left */
}
.col > img {
    width: 100%;
    border-radius: 50%;
    background-color: black;
    transition: transform ease-in-out 0.5s;
}

.col{
    padding: 10px;
}

.col1 img:hover{
    transform: skew(-20deg);
}

ul, p{
    margin: 0px;
    list-style-type: none;
}
section.abs > div {
    position: fixed;
    background: linear-gradient(lightblue, darkblue);
    width: 9%;
    padding-top: 80px;
    padding-bottom: 120px; 
    border-radius: 10px;
}
div.abs-left{
    left: 0px;
    margin-left: 0.5%;
}
div.abs-right{
    right: 0px;
    margin-right: 0.5%;
}
section.footer {
    background-image: url(../img/footer.jpg);
    background-repeat: no-repeat;
    background-position: center right;
    background-color: #0e8599;
    color: white;
    list-style-type: none;
}

.tooltipcontent {
    background-color: chocolate;
    padding: 5px;
    border-radius: 10px;
    display: none;
    position: absolute;
    z-index: 999999999; 
    width: 203px;
    margin-left: -80px;
}

.tooltipcontent::after{
    content:"";
    border-width: 10px; 
    border-style: solid;
    border-color: transparent transparent chocolate transparent;
    position: absolute;
    top: -20px;
    right: 20px;
}
.tooltip:hover .tooltipcontent{
    display: block;
}
